@use "../common/css/common" as *;

.blind {
  position: absolute;
  /* 요소의 위치를 절대 위치로 설정합니다. */
  width: 1px;
  /* 요소의 가로 너비를 1px로 설정합니다. */
  height: 1px;
  /* 요소의 세로 높이를 1px로 설정합니다. */
  overflow: hidden;
  /* 내용이 요소의 크기를 벗어나면 숨깁니다. */
  clip: rect(0, 0, 0, 0);
  /* 요소의 내용을 화면에서 완전히 숨깁니다. */
  margin: -1;
  /* 요소의 마진을 -1로 설정하여, 요소 자체를 화면에서 숨깁니다. */
}

header {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 33px;
  filter: blur(0.8);
  display: flex;
  // justify-content: space-between;
  z-index: 9;
  .logo {
    width: 12%;

    a {
      background-size: 358px 319px;
      background-image: url("../common/img/sprite.png");
      background-position: 0 -307px;
      width: 119px;
      height: 12px;
      display: block;
    }
  }

  .item {
    color: #fff;
    font-size: 12.8px;
    font-weight: 800;
    cursor: pointer;
  }

  .nav-block {
    width: 66.5%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    .line {
      background-color: #fff;
      position: absolute;
      height: 3px;
      transition: width 0.3s, left 0.3s ease 0s;
      width: 50px;
      top: 15px;
      left: 0;
    }
    .nav {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      .item {
        &:hover {
          position: relative;
        }
      }
    }
  }

  .etc-block {
    .etc {
      display: flex;
      gap: 20px;

      .etc-list {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;

        &.file-dnd {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
          &::before {
            content: "";
            display: block;
            background-size: 358px 319px;
            background-image: url("../common/img/sprite.png");
            background-position: -334px -216px;
            width: 10px;
            height: 10px;
          }
        }

        &.item {
          &::after {
            content: "";
            position: absolute;
            right: -10px;
            top: 50%;
            transform: translateY(-50%);
            width: 2px;
            height: 2px;
            background-color: #fff;
            display: block;
            border-radius: 50%;
          }
        }
        &:nth-child(3) {
          &::after {
            display: none;
          }
        }

        &.lang-block {
          position: relative;

          &::before {
            content: "";
            height: 10px;
            width: 1px;
            background-color: #fff;
            position: absolute;
            left: -10px;
            display: block;
          }

          &::after {
            content: "";
            background-size: 358px 319px;
            background-image: url("../common/img/sprite.png");
            background-position: -344px -254px;
            width: 6px;
            height: 4px;
            display: block;
            top: 50%;
            position: absolute;
            right: -10px;
            transform: translateY(-50%);
          }
        }

        .lang-select-button {
          all: unset;
          cursor: pointer;
          color: #fff;
          font-size: 12.8px;
          font-weight: 800;
        }

        .lang-select-box {
          position: absolute;
          top: 20px;
          border-color: #444;
          border-top: 2px solid #ccc;
          background-color: #222;
          padding: 10px 20px;
          padding-left: 18px;

          li {
            a {
              color: #fff;
              font-size: 12px;
              line-height: 26px;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

section {
  position: relative;
}

.fixed-area {
  .intro-dnd {
    position: fixed;
    z-index: 20;
    width: 188px;
    height: 188px;
    background-color: red;
    bottom: 18%;
    left: 18%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    color: #fff;
    text-decoration: none;
    font-size: 15px;

    .intro-tit {
      margin: 0 auto;
      font-weight: 700;
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);

      &::after {
        content: "";
        position: absolute;
        display: block;
        background-size: 358px 319px;
        background-image: url("../common/img/sprite.png");
        background-position: -334px -164px;
        width: 20px;
        height: 20px;
        top: 28px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

.video-area {
  height: 100svh;
  overflow: hidden;
  video {
    object-fit: cover;
    width: 100%;
    height: 100svh;
  }
}

.text-area {
  position: absolute;
  top: 46%;
  left: 18%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 29px;

  .video-title {
    color: #fff;
    font-size: 65px;
    line-height: 1.14em;
    font-weight: 900;
    letter-spacing: -4px;
  }

  .video-desc {
    color: #fff;
    font-size: 16px;
    line-height: 1.14em;
    font-weight: 400;
    letter-spacing: -0.8px;
  }
}

footer {
  position: fixed;
  right: 2%;
  bottom: 4%;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}
