@use "../common/css/common" as *;
@import url("https://fonts.cdnfonts.com/css/roboto");

.fp-watermark {
  display: none !important;
}

.blind {
  position: absolute;
  /* 요소의 위치를 절대 위치로 설정합니다. */
  width: 1px;
  /* 요소의 가로 너비를 1px로 설정합니다. */
  height: 1px;
  /* 요소의 세로 높이를 1px로 설정합니다. */
  overflow: hidden;
  /* 내용이 요소의 크기를 벗어나면 숨깁니다. */
  clip: rect(0, 0, 0, 0);
  /* 요소의 내용을 화면에서 완전히 숨깁니다. */
  margin: -1;
  /* 요소의 마진을 -1로 설정하여, 요소 자체를 화면에서 숨깁니다. */
}

header {
  position: fixed;
  width: 100%;
  padding: 33px;
  filter: blur(0.8);
  display: flex;
  z-index: 9;

  &.section2,
  &.section3 {
    .item,
    .etc-block .etc .etc-list .lang-select-button {
      color: #000;
    }

    .logo {
      a {
        background-position: -123px -307px;
      }
    }

    .etc-block .etc .etc-list.file-dnd::before {
      background-position: -334px -202px;
    }

    .etc-block .etc .etc-list.lang-block::after {
      background-position: -350px -242px;
    }

    .etc-block .etc .etc-list.lang-block::before,
    .etc-block .etc .etc-list.item::after,
    .nav-block .line {
      background-color: #000;
    }
  }

  .logo {
    width: 12%;

    a {
      background-size: 358px 319px;
      background-image: url("../common/img/sprite.png");
      background-position: 0 -307px;
      width: 118px;
      height: 12px;
      display: block;
    }
  }

  .item {
    color: #fff;
    font-size: 12.8px;
    font-weight: 800;
    cursor: pointer;
  }

  .nav-block {
    width: 66.5%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    .line {
      background-color: #fff;
      position: absolute;
      height: 3px;
      transition: width 0.3s, left 0.3s ease 0s;
      width: 50px;
      top: 15px;
      left: 0;
    }
    .nav {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      .item {
        &:hover {
          position: relative;
        }
      }
    }
  }

  .etc-block {
    .etc {
      display: flex;
      gap: 20px;

      .etc-list {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;

        &.file-dnd {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
          &::before {
            content: "";
            display: block;
            background-size: 358px 319px;
            background-image: url("../common/img/sprite.png");
            background-position: -334px -216px;
            width: 10px;
            height: 10px;
          }
        }

        &.item {
          &::after {
            content: "";
            position: absolute;
            right: -10px;
            top: 50%;
            transform: translateY(-50%);
            width: 2px;
            height: 2px;
            background-color: #fff;
            display: block;
            border-radius: 50%;
          }
        }
        &:nth-child(3) {
          &::after {
            display: none;
          }
        }

        &.lang-block {
          position: relative;

          &::before {
            content: "";
            height: 10px;
            width: 1px;
            background-color: #fff;
            position: absolute;
            left: -10px;
            display: block;
          }

          &::after {
            content: "";
            background-size: 358px 319px;
            background-image: url("../common/img/sprite.png");
            background-position: -344px -254px;
            width: 6px;
            height: 4px;
            display: block;
            top: 50%;
            position: absolute;
            right: -10px;
            transform: translateY(-50%);
          }
        }

        .lang-select-button {
          all: unset;
          cursor: pointer;
          color: #fff;
          font-size: 12.8px;
          font-weight: 800;
        }

        .lang-select-box {
          position: absolute;
          top: 20px;
          border-color: #444;
          border-top: 2px solid #ccc;
          background-color: #222;
          padding: 10px 20px;
          padding-left: 18px;

          li {
            a {
              color: #fff;
              font-size: 12px;
              line-height: 26px;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

section {
  position: relative;
}

.fixed-area {
  .intro-dnd {
    position: fixed;
    z-index: 20;
    width: 188px;
    height: 188px;
    background-color: #ffffff33;
    bottom: 16%;
    left: 18%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    transition: all 0.35s ease-out;

    &:hover {
      background-color: #d60103;
    }

    .intro-tit {
      margin: 0 auto;
      font-weight: 700;
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);

      &::after {
        content: "";
        position: absolute;
        display: block;
        background-size: 358px 319px;
        background-image: url("../common/img/sprite.png");
        background-position: -334px -164px;
        width: 20px;
        height: 20px;
        top: 28px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .inquiry {
    position: fixed;
    z-index: 20;
    width: 96px;
    height: 96px;
    background-color: #fff;
    bottom: 9%;
    right: 5%;
    border-radius: 50%;
    box-shadow: 3.08px 6.15px 18.46px 0 rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.35s ease-out;

    &:hover {
      transform: translateY(-10px);
      background-color: #d60103;
      p {
        color: #fff;
      }
    }
    p {
      color: #000;
      font-size: 12px;
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: absolute;
      top: 42%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;

      &::after {
        content: "\f061";
        font-family: "FontAwesome";
        display: block;
        font-size: 16px;
        position: absolute;
        top: 18px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

#fullpage {
  + .fixed-area {
    background-color: red;
  }

  &.section1 {
    + .fixed-area {
      .inquiry {
        opacity: 0;
      }
    }
  }
  &.section2,
  &.section3 {
    + .fixed-area {
      .intro-dnd {
        background-color: rgba(0, 0, 0, 0.2);
        &:hover {
          background-color: #d60103;
        }
      }
    }
  }
}

.section-1 {
  .text-area {
    position: absolute;
    top: 46%;
    left: 18%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 29px;

    .video-title {
      color: #fff;
      font-size: 65px;
      line-height: 1.14em;
      font-weight: 900;
      letter-spacing: -4px;
    }
    .video-desc {
      color: #fff;
      font-size: 16px;
      line-height: 1.14em;
      font-weight: 300;
      letter-spacing: -0.8px;
      letter-spacing: -1px;
    }
  }

  .video-area {
    height: 100svh;
    overflow: hidden;
    video {
      object-fit: cover;
      width: 100%;
      height: 100svh;
    }
  }
}

.section-2,
.section-3,
.section-4 {
  .text-area {
    position: absolute;
    left: 4%;
    top: 48%;
    transform: translateY(-50%);
    color: #000;
    font-size: 48px;
    font-weight: 100;
    line-height: 140%;
    letter-spacing: -2px;
    strong {
      font-weight: 700;
    }
  }

  .about {
    font-weight: 600;
    color: inherit;
    font-size: 18px;
    letter-spacing: -0.7px;
    position: relative;
    text-decoration: none;
    &::after {
      content: "";
      width: 100%;
      height: 2px;
      background-color: #000;
      display: block;
      position: absolute;
      bottom: 0;
    }

    &:hover::after {
      animation: aboutUnderLine 0.5s forwards;
    }

    @keyframes aboutUnderLine {
      0% {
        width: 0;
      }
      100% {
        width: 100%;
      }
    }
  }

  .company-history {
    position: absolute;
    left: 40%;
    top: 47%;
    transform: translateY(-50%);
    &::after {
      content: "";
      display: block;
      width: 240%;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.1);
      position: absolute;
      top: 13%;
      left: -160%;
    }
    li {
      margin-bottom: 20px;
      .list-tit {
        font-size: 13px;
        font-weight: 100;
      }
      .num {
        color: #000;
        font-size: 55px;
        font-weight: 100;
        line-height: 140%;
      }
    }
  }

  .video-area {
    width: 560px;
    height: 560px;
    position: absolute;
    right: 70px;
    top: 50%;
    transform: translateY(-50%);
    video {
      width: 100%;
    }
  }
}

.section-3,
.section-4 {
  .video-area {
    width: 996px;
    right: 0;
  }
}

.section-4 {
  background-color: #000;

  .text-area {
    color: #fff;
    .about {
      // color: #fff;

      &::after {
        background: #fff;
      }
    }
  }
}

footer {
  position: fixed;
  right: 2%;
  bottom: 4%;
  color: #fff;
  font-size: 12px;
  font-weight: 400;

  &.section2,
  &.section3 {
    .copyright {
      color: #000;
    }
  }
}
