@charset "UTF-8";
@import url("https://fonts.cdnfonts.com/css/roboto");
@import url("https://fonts.cdnfonts.com/css/roboto");
* {
  box-sizing: border-box;
  font-family: "Roboto", "Noto Sans", sans-serif;
}

.fp-watermark {
  display: none !important;
}

.blind {
  position: absolute;
  /* 요소의 위치를 절대 위치로 설정합니다. */
  width: 1px;
  /* 요소의 가로 너비를 1px로 설정합니다. */
  height: 1px;
  /* 요소의 세로 높이를 1px로 설정합니다. */
  overflow: hidden;
  /* 내용이 요소의 크기를 벗어나면 숨깁니다. */
  clip: rect(0, 0, 0, 0);
  /* 요소의 내용을 화면에서 완전히 숨깁니다. */
  margin: -1;
  /* 요소의 마진을 -1로 설정하여, 요소 자체를 화면에서 숨깁니다. */
}

header {
  position: fixed;
  width: 100%;
  padding: 33px;
  filter: blur(0.8);
  display: flex;
  z-index: 9;
}
header.section2 .item,
header.section2 .etc-block .etc .etc-list .lang-select-button, header.section3 .item,
header.section3 .etc-block .etc .etc-list .lang-select-button {
  color: #000;
}
header.section2 .logo a, header.section3 .logo a {
  background-position: -123px -307px;
}
header.section2 .etc-block .etc .etc-list.file-dnd::before, header.section3 .etc-block .etc .etc-list.file-dnd::before {
  background-position: -334px -202px;
}
header.section2 .etc-block .etc .etc-list.lang-block::after, header.section3 .etc-block .etc .etc-list.lang-block::after {
  background-position: -350px -242px;
}
header.section2 .etc-block .etc .etc-list.lang-block::before,
header.section2 .etc-block .etc .etc-list.item::after,
header.section2 .nav-block .line, header.section3 .etc-block .etc .etc-list.lang-block::before,
header.section3 .etc-block .etc .etc-list.item::after,
header.section3 .nav-block .line {
  background-color: #000;
}
header .logo {
  width: 12%;
}
header .logo a {
  background-size: 358px 319px;
  background-image: url("../common/img/sprite.png");
  background-position: 0 -307px;
  width: 118px;
  height: 12px;
  display: block;
}
header .item {
  color: #fff;
  font-size: 12.8px;
  font-weight: 800;
  cursor: pointer;
}
header .nav-block {
  width: 66.5%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}
header .nav-block .line {
  background-color: #fff;
  position: absolute;
  height: 3px;
  transition: width 0.3s, left 0.3s ease 0s;
  width: 50px;
  top: 15px;
  left: 0;
}
header .nav-block .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
header .nav-block .nav .item:hover {
  position: relative;
}
header .etc-block .etc {
  display: flex;
  gap: 20px;
}
header .etc-block .etc .etc-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}
header .etc-block .etc .etc-list.file-dnd {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
header .etc-block .etc .etc-list.file-dnd::before {
  content: "";
  display: block;
  background-size: 358px 319px;
  background-image: url("../common/img/sprite.png");
  background-position: -334px -216px;
  width: 10px;
  height: 10px;
}
header .etc-block .etc .etc-list.item::after {
  content: "";
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 2px;
  background-color: #fff;
  display: block;
  border-radius: 50%;
}
header .etc-block .etc .etc-list:nth-child(3)::after {
  display: none;
}
header .etc-block .etc .etc-list.lang-block {
  position: relative;
}
header .etc-block .etc .etc-list.lang-block::before {
  content: "";
  height: 10px;
  width: 1px;
  background-color: #fff;
  position: absolute;
  left: -10px;
  display: block;
}
header .etc-block .etc .etc-list.lang-block::after {
  content: "";
  background-size: 358px 319px;
  background-image: url("../common/img/sprite.png");
  background-position: -344px -254px;
  width: 6px;
  height: 4px;
  display: block;
  top: 50%;
  position: absolute;
  right: -10px;
  transform: translateY(-50%);
}
header .etc-block .etc .etc-list .lang-select-button {
  all: unset;
  cursor: pointer;
  color: #fff;
  font-size: 12.8px;
  font-weight: 800;
}
header .etc-block .etc .etc-list .lang-select-box {
  position: absolute;
  top: 20px;
  border-color: #444;
  border-top: 2px solid #ccc;
  background-color: #222;
  padding: 10px 20px;
  padding-left: 18px;
}
header .etc-block .etc .etc-list .lang-select-box li a {
  color: #fff;
  font-size: 12px;
  line-height: 26px;
  text-decoration: none;
}

section {
  position: relative;
}

.fixed-area .intro-dnd {
  position: fixed;
  z-index: 20;
  width: 188px;
  height: 188px;
  background-color: rgba(255, 255, 255, 0.2);
  bottom: 16%;
  left: 18%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  transition: all 0.35s ease-out;
}
.fixed-area .intro-dnd:hover {
  background-color: #d60103;
}
.fixed-area .intro-dnd .intro-tit {
  margin: 0 auto;
  font-weight: 700;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fixed-area .intro-dnd .intro-tit::after {
  content: "";
  position: absolute;
  display: block;
  background-size: 358px 319px;
  background-image: url("../common/img/sprite.png");
  background-position: -334px -164px;
  width: 20px;
  height: 20px;
  top: 28px;
  left: 50%;
  transform: translateX(-50%);
}
.fixed-area .inquiry {
  position: fixed;
  z-index: 20;
  width: 96px;
  height: 96px;
  background-color: #fff;
  bottom: 9%;
  right: 5%;
  border-radius: 50%;
  box-shadow: 3.08px 6.15px 18.46px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all 0.35s ease-out;
}
.fixed-area .inquiry:hover {
  transform: translateY(-10px);
  background-color: #d60103;
}
.fixed-area .inquiry:hover p {
  color: #fff;
}
.fixed-area .inquiry p {
  color: #000;
  font-size: 12px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.fixed-area .inquiry p::after {
  content: "\f061";
  font-family: "FontAwesome";
  display: block;
  font-size: 16px;
  position: absolute;
  top: 18px;
  left: 50%;
  transform: translateX(-50%);
}

#fullpage + .fixed-area {
  background-color: red;
}
#fullpage.section1 + .fixed-area .inquiry {
  opacity: 0;
}
#fullpage.section2 + .fixed-area .intro-dnd, #fullpage.section3 + .fixed-area .intro-dnd {
  background-color: rgba(0, 0, 0, 0.2);
}
#fullpage.section2 + .fixed-area .intro-dnd:hover, #fullpage.section3 + .fixed-area .intro-dnd:hover {
  background-color: #d60103;
}

.section-1 .text-area {
  position: absolute;
  top: 46%;
  left: 18%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 29px;
}
.section-1 .text-area .video-title {
  color: #fff;
  font-size: 65px;
  line-height: 1.14em;
  font-weight: 900;
  letter-spacing: -4px;
}
.section-1 .text-area .video-desc {
  color: #fff;
  font-size: 16px;
  line-height: 1.14em;
  font-weight: 300;
  letter-spacing: -0.8px;
  letter-spacing: -1px;
}
.section-1 .video-area {
  height: 100svh;
  overflow: hidden;
}
.section-1 .video-area video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100svh;
}

.section-2 .text-area,
.section-3 .text-area,
.section-4 .text-area {
  position: absolute;
  left: 4%;
  top: 48%;
  transform: translateY(-50%);
  color: #000;
  font-size: 48px;
  font-weight: 100;
  line-height: 140%;
  letter-spacing: -2px;
}
.section-2 .text-area strong,
.section-3 .text-area strong,
.section-4 .text-area strong {
  font-weight: 700;
}
.section-2 .about,
.section-3 .about,
.section-4 .about {
  font-weight: 600;
  color: inherit;
  font-size: 18px;
  letter-spacing: -0.7px;
  position: relative;
  text-decoration: none;
}
.section-2 .about::after,
.section-3 .about::after,
.section-4 .about::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #000;
  display: block;
  position: absolute;
  bottom: 0;
}
.section-2 .about:hover::after,
.section-3 .about:hover::after,
.section-4 .about:hover::after {
  animation: aboutUnderLine 0.5s forwards;
}
@keyframes aboutUnderLine {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.section-2 .company-history,
.section-3 .company-history,
.section-4 .company-history {
  position: absolute;
  left: 40%;
  top: 47%;
  transform: translateY(-50%);
}
.section-2 .company-history::after,
.section-3 .company-history::after,
.section-4 .company-history::after {
  content: "";
  display: block;
  width: 240%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 13%;
  left: -160%;
}
.section-2 .company-history li,
.section-3 .company-history li,
.section-4 .company-history li {
  margin-bottom: 20px;
}
.section-2 .company-history li .list-tit,
.section-3 .company-history li .list-tit,
.section-4 .company-history li .list-tit {
  font-size: 13px;
  font-weight: 100;
}
.section-2 .company-history li .num,
.section-3 .company-history li .num,
.section-4 .company-history li .num {
  color: #000;
  font-size: 55px;
  font-weight: 100;
  line-height: 140%;
}
.section-2 .video-area,
.section-3 .video-area,
.section-4 .video-area {
  width: 560px;
  height: 560px;
  position: absolute;
  right: 70px;
  top: 50%;
  transform: translateY(-50%);
}
.section-2 .video-area video,
.section-3 .video-area video,
.section-4 .video-area video {
  width: 100%;
}

.section-3 .video-area,
.section-4 .video-area {
  width: 996px;
  right: 0;
}

.section-4 {
  background-color: #000;
}
.section-4 .text-area {
  color: #fff;
}
.section-4 .text-area .about::after {
  background: #fff;
}

footer {
  position: fixed;
  right: 2%;
  bottom: 4%;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}
footer.section2 .copyright, footer.section3 .copyright {
  color: #000;
}/*# sourceMappingURL=style.css.map */