.header {
  nav.nav {
    @include size(100%, 70px);
    height: 6.5vw;
    background-color: red;
    @include flexbox($center, $center);
    .nav-block {
      @include flexbox($between, $center, null);
      width: 100%;

      .header-logo {
        @include bg-img("/assets/img/common/logo.svg", 100%, center, null);
        @include size(9vw, 3vw);
      }

      .nav-list {
        @include flexbox($start, $center);

        .submenu {
          display: none;
        }
      }
    }
  }
}
